---
import App from "@/components/App.vue";
import MainLayout from "@/layouts/MainLayout.astro";
import AppProfileImage from "@/components/AppProfileImage.astro";
---

<MainLayout title="Profile Card">
  <main>
    <App>
      <AppProfileImage />
    </App>
  </main>
</MainLayout>
